* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Is_centered_now {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.oculto {
    display: none;
}
.pinwheel {
    width: 200px;
    height: 200px;
}

.wings {
    fill: black;
    transform-box: fill-box;
    transform-origin: center;

    animation: slow-down 3s ease-out forwards;
}
.character {
    width: 20px;
    height: 20px;
}
.pinwheel:hover .wings {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slow-down {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}