* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f0;
    color: #111;
    font-family: monospace;
}

.about-layout {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;

    width: 100%;
    min-height: 300px;
}


.about-layout .pinwheel {
    width: 180px;
    height: 300px;
    margin-left: 0;
}
.about-text {
    padding-left: 5px;
}
.about-text h1 {
    margin-bottom: 30px;
}
/* CONTENEDOR PRINCIPAL */

.page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* COLUMNA DEL SVG */

.visual {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #111;
}


/* PINWHEEL */

.pinwheel-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pinwheel {
    width: 70%;
    max-width: 500px;
    height: auto;
}

.wings {
    fill: black;

    transform-box: fill-box;
    transform-origin: center;

    animation: slow-down 3s ease-out forwards;
}


/* PERSONAJE */

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Character {
    width: 600px;
    height: auto;
}


/* OCULTAR PARTES DEL PERSONAJE */

.oculto {
    display: none;
}


/* ANIMACIÓN DEL PINWHEEL */

.pinwheel:hover .wings {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slow-down {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* COLUMNA DERECHA */

.content {
    padding: 30px;
}


/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 20px;
    border-bottom: 1px solid #111;
}

.name {
    font-size: 14px;
    font-weight: bold;
}

.year {
    font-size: 14px;
}


/* BOTONES */

.works-nav {
    display: flex;
    gap: 20px;

    padding: 20px 0;
    border-bottom: 1px solid #111;
}

.works-nav button {
    border: none;
    background: none;
    padding: 0;

    font-family: inherit;
    font-size: 12px;
    color: #111;

    cursor: pointer;
}

.works-nav button:hover {
    text-decoration: underline;
}

.works-nav button.activo {
    text-decoration: underline;
}


/* CONTENIDO */

.works-content {
    padding-top: 40px;
}

.work {
    display: none;
}

.work.activo {
    display: block;
}


/* TEXTO */

.work-number {
    font-size: 11px;
    margin-bottom: 30px;
}

.work h1 {
    font-size: clamp(32px, 5vw, 70px);
    font-weight: normal;
    line-height: 0.95;
    margin-bottom: 30px;
}

.work p {
    max-width: 450px;
    font-size: 14px;
    line-height: 1.5;
}


/* MOBILE */

@media (max-width: 700px) {

    .about-layout {
        grid-template-columns: 1fr;
    }

    .about-layout .pinwheel {
        width: 60%;
        margin: 0 auto;
    }
    .page {
        grid-template-columns: 1fr;
    }

    .visual {
        min-height: 50vh;
        border-right: none;
        border-bottom: 1px solid #111;
    }

    .pinwheel {
        width: 55%;
    }

    .content {
        padding: 20px;
    }

    .works-nav {
        gap: 15px;
        flex-wrap: wrap;
    }

    .works-content {
        padding-top: 30px;
    }
}